<link rel="stylesheet" href="/css/user_profile.css" />
<h1>User Profile:</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<br />
<br />
<h2><a href="/users/sign-out">Sign Out</a></h2>
<br />
<br />
